<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">

    <link rel="stylesheet" href="/static/house.css">
    <title>House</title>

</head>
<body>

<div id="electricity">
    <div class="checkbox-wrapper-5">
        <div>
            <h1>Electricity</h1>
        </div>
        <div class="check">
            <input id="check-5" type="checkbox">
            <label for="check-5"></label>
        </div>
    </div>
</div>


<div id="houses">

    {{buttons}}

</div>

<div id="indicators">
    {{ indicators }}
</div>



<div id="button">
    <form method="post" action="/menu">
        <input type="submit" value="Menu">
    </form>
</div>

<script>
function handleRadioButtonClick() {
  // Здесь можно выполнить необходимые действия при щелчке на radio button
  var value = this.value;
  if (value !== 'undefined') {
    console.log("Выбрано значение: " + value);

    // Отправка GET-запроса
    fetch('/house/radio_button?option=' + encodeURIComponent(value), {
      method: 'GET'
    })
      .then(response => {
        // Обработка ответа от сервера
        if (response.ok) {
          console.log('Запрос успешно отправлен');
          location.reload(); // Перезагрузка страницы
        } else {
          console.log('Произошла ошибка при отправке запроса');
        }
      })
      .catch(error => {
        console.log('Произошла ошибка:', error);
      });
  }
}
</script>

</body>
</html>