<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/main.css">
    <title>Menu</title>
</head>
<body>

<div id="menu_links">
    <div id="link5" class="wrapper">
        <div class="inner">
            <a href="/house"
               class="hover-shadow hover-color"><span>h</span><span>o</span><span>u</span><span>s</span><span>e</span></a>

        </div>
    </div>

    <div id="link6" class="wrapper">
        <div class="inner">
            <a href="/statistics"
               class="hover-shadow hover-color"><span>s</span><span>t</span><span>a</span><span>t</span><span>i</span><span>s</span><span>t</span><span>i</span><span>c</span><span>s</span></a>
        </div>
    </div>

    <div id="link3" class="wrapper">
        <div class="inner">
            <a href="/notifications"
               class="hover-shadow hover-color"><span>n</span><span>o</span><span>t</span><span>i</span><span>f</span><span>i</span><span>c</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span><span>s</span></a>
        </div>
    </div>

    <div id="link4" class="wrapper">
        <div class="inner">
            <a href="/profile"
               class="hover-shadow hover-color"><span>p</span><span>r</span><span>o</span><span>f</span><span>i</span><span>l</span><span>e</span></a>
        </div>
    </div>
</div>


<div id="button">
    <form method="post" action="/logout">
        <input type="submit" value="Logout">
    </form>
</div>

</body>
</html>